title = "About"
url = "/about"
layout = "default"
description = "About Us"
is_hidden = 0

[resourcesLinks]
link1 = "http://test.com/"
link2 = "http://test2.com/"
link3 = "http://test3.com/"
==
<h1>About Us</h1>
<p>This is the about page</p>
<hr>
{% component 'resourcesLinks' %}