title = "Contact"
url = "/contact"
layout = "default"
description = "This is contact page"
is_hidden = 0
==
<h1>Contact Us</h1>
<form>
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" placeholder="Enter Name">
  </div>
  <div class="form-group">
    <label>Email</label>
    <input type="email" class="form-control" placeholder="Enter Email">
  </div>
  <div class="form-group">
    <label>Message</label>
    <textarea class="form-control" placeholder="Enter Message"></textarea>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>