title = "Home"
url = "/"
layout = "default"
description = "This is the homepage"
is_hidden = 0
==
<div class="jumbotron text-center">
    <h1>{{ this.theme.site_name }}</h1>
    <p>{{ this.theme.site_description }}</p>
    <p>
        <a href="{{'about'|page}}" class="btn btn-default">Read More</a>
    </p>
</div>