<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{ this.theme.site_name }}</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="{% if this.page.id == 'home' %}active{% endif %}">
                    <a href="{{ 'home'|page }}">Home</a>
                </li>
                <li class="{% if this.page.id == 'about' %}active{% endif %}">
                    <a href="{{ 'about'|page }}">About</a>
                </li>
                <li class="{% if this.page.id == 'blog' %}active{% endif %}">
                    <a href="{{ 'blog'|page }}">Blog</a>
                </li>
                <li class="{% if this.page.id == 'contact' %}active{% endif %}">
                    <a href="{{ 'contact'|page }}">Contact</a>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>